<div style="background-color: blue;color: white;height: 50px;font-size: 20px;
font-weight: 700;
text-align: left;
padding-left: 20px;
padding-top: 15px;"><p>Forgot Password<button class="close btn" mat-button mat-dialog-close
            style="float: right;margin-right: 10px;color: white;font-weight: 1000;    margin-top: -10px;">X</button></p>
</div>

<div class="form-style" style="padding-left: 20px;">
    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">


        <div class="example-container">

            <div class="label" style="position: fixed;">User id*</div>

           
            <mat-form-field appearance="standard" style="width: 90%; margin:0px; padding:0px;height: 20px;">
             
                <input matInput  formControlName="userId" 
                    placeholder="Enter user ID" style="margin: 0px;padding: 0px;"><br>
                   
               



            </mat-form-field><br>
            <div *ngIf="first.userId.touched && first.userId.invalid" class="one">User ID Field is mandatory</div>
        </div>



        <div></div>
       
        
      
        <div style="padding-bottom:50px;padding-top: 30px;">
            <button type="submit" mat-button mat-dialog-close class="btn btn-primary btnSubmit btn-outline-dark1 btn1"
                style="color: white;border-radius: 20px; height:30px; text-align: center;padding:10px
                ; width: 100px;float: right;margin-right: 30px;padding-top: 2px;">Close</button>
            <button type="submit" class="btn btn-primary btnSubmit btn-outline-dark2 btn2"
                style="color: white;  border-radius: 20px; height:30px ; padding-top:2px;width: 150px;float: right;margin-right: 20px;">Find My Account</button>

        </div>
    </form>
</div>