.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .mat-dialog-container{
    padding: 0px;
  }
  .mat-dialog-title{

    padding: 0%;
  }
  .form-style{
    margin-left: 10px;
    margin-top: 5px;

  }
//   ::ng-deep .mat-form-field {
//     .mat-input-element {
//         color: slategray;
//     }
//     .mat-form-field-label {
//         color: slategray;
//     }
//     .mat-form-field-underline {
//         background-color: white;
//     }
//     .mat-form-field-ripple {
//         background-color: white;
//     }
//     .mat-form-field-required-marker {
//         color: white;
//     }
// }
// ::ng-deep .mat-form-field.mat-focused {
//   .mat-form-field-label {
//       color: #ff884d;
//   }
//   .mat-form-field-ripple {
//       background-color: #ff884d;
//   }
//   .mat-form-field-required-marker {
//       color: #ff884d;
//   }
//   .mat-input-element {
//       color: #ff884d;
//   }
// }
// ::ng-deep .mat-form-field.mat-form-field-invalid {
//   .mat-input-element {
//       color: #ff33cc;
//   }
//   .mat-form-field-label {
//       color: #ff33cc;
//       .mat-form-field-required-marker {
//           color: #ff33cc;
//       }
//   }
//   .mat-form-field-ripple {
//       background-color: #ff33cc;
//   }
// }
.mat-icon-butto{
  background-color: pink;
}
.icon-btn{
  background-color: white;
    border-style: none;
}
.btn-outline-dark1:hover {
  color: #fff;
  background-color: cornflowerblue;

}
.btn-outline-dark1{
  background-color: white;
  border-radius: 30px;
  border-style: solid orange;
  border-color: orange;
  width: 100px;
  box-shadow: 3px 5px 13px -5px rgb(0 0 0 / 75%)
}
.btn-outline-dark2:hover {
  color: #fff;
  background-color:cornflowerblue;
 
}
.btn-outline-dark2{
  background-color: white;
  border-radius: 30px;
  border-style: solid blue;
  border-color: blue;
  box-shadow: 3px 5px 13px -5px rgb(0 0 0 / 75%)
  
}
.btn1{
  background-color: rgba(255, 0, 0, 0.918);
}
.btn2{
 
  background-color:blue;
}
.label{
  margin-bottom: 5px;
}
input.ng.touched.ng-invakid{
    border:1px solid red;
}
.one{
    color: red;
    font-size: 12px;
   padding: 5px;
}