<div style="background-color: blue;color: white;height: 50px;font-size: 20px;
font-weight: 700;
text-align: left;
padding-left: 20px;
padding-top: 15px;"><p>Change Password <button class="close btn" mat-button mat-dialog-close
            style="float: right;margin-right: 10px;color: white;font-weight: 1000;    margin-top: -10px;">X</button></p>
</div>

<div class="form-style" style="padding-left: 20px;">
    <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">


        <div class="example-container">

            <div class="label" style="position: fixed;">Change password<span style="color: red;">*</span></div>

           
            <mat-form-field appearance="standard" style="width: 90%; margin:0px; padding:0px;height: 20px;">
             
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword"
                    placeholder="Password" style="margin: 0px;padding: 0px;">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" style=" background-color: white;
            border-style: none;">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>



            </mat-form-field>
            <div *ngIf="first.currentPassword.touched && first.currentPassword.invalid" class="one">Password is mandatory</div>
        </div>
        <br>
        <div class="example-container">

            <div class="label" style="position: fixed;">Confirm password<span style="color: red;">*</span></div>

           
            <mat-form-field appearance="standard" style="width: 90%; margin:0px; padding:0px;height: 20px;">
             
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmNewPassword"
                    placeholder="Password" style="margin: 0px;padding: 0px;">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" style=" background-color: white;
            border-style: none;">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>



            </mat-form-field>
            <div *ngIf="first.confirmNewPassword.touched && first.confirmNewPassword.invalid" class="one">Password is mandatory</div>
        </div>
        <br>
        <div class="example-container">

            <div class="label" style="position: fixed;">re-enter password<span style="color: red;">*</span></div>

           
            <mat-form-field appearance="standard" style="width: 90%; margin:0px; padding:0px;height: 20px;">
             
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="reEnterPassword"
                    placeholder="Password" style="margin: 0px;padding: 0px;">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" style=" background-color: white;
            border-style: none;">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>



            </mat-form-field>
            <div *ngIf="first.reEnterPassword.touched && first.reEnterPassword.invalid" class="one">Password is mandatory</div>
        </div>
        <br>



       
        <!-- <div class="example-container">
            <mat-label>Confirm new password</mat-label><br> 
            <div class="label" style="position: fixed;margin-top: 10px;" >Confirm password</div>
            <mat-form-field appearance="standard" style="width: 90%; margin-top:10px; padding:0px;">

               
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmNewPassword"
                    placeholder="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" style=" background-color: white;
                    border-style: none;">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="first.confirmNewPasswordtouched && first.confirmNewPassword.invalid" class="one">Password is mandatory</div>

        </div>
        
        <div class="example-container">
            <div class="label" style="position: fixed;margin-top: 10px;">re-enter password</div>
            
            <mat-form-field appearance="standard" style="width: 90%; margin-top: 10px; padding:0px;">
               
              
            
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="reEnterPassword"
                    placeholder="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" style=" background-color: white;
                    border-style: none;">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="first.reEnterPassword.touched && first.reEnterPassword.invalid" class="one" style="margin-top: 1px;">re-enter password is mandatory</div>
        </div> -->
        <!-- <div class="mb-3 form-group">
            <label for="">Confirm new password</label>
    
            <input name="password" type="password" formControlName="confirmNewPassword" required
                class="form-control rounded-0" placeholder="Password">
        </div>
        <div class="mb-3 form-group">
            <label>Re-enter password</label>
    
            <input name="password" type="password" formControlName="reEnterPassword" required class="form-control rounded-0"
                placeholder="Password">
        </div>
        <div class="mb-3 form-check">
    
    
            <a class="btnForgetPwd">forgot password?</a>
        </div> -->

        <div style="padding-bottom:60px;padding-top: 10px;">
            <button type="submit" mat-button mat-dialog-close class="btn btn-primary btnSubmit btn-outline-dark1 btn1"
                style="color: white;border-radius: 20px; height:30px; text-align: center;padding:10px
                ; width: 100px;float: right;margin-right: 30px;padding-top: 2px;">Close</button>
            <button type="submit" class="btn btn-primary btnSubmit btn-outline-dark2 btn2"
                style="color: white;  border-radius: 20px; height:30px ; padding-top:2px;width: 100px;float: right;margin-right: 20px;">Submit</button>

        </div>
    </form>
</div>